@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import './assets/fonts/fonts.scss';
@import './splide.scss';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	background-color: #ebebeb;
	-webkit-tap-highlight-color: transparent;
}

a {
	color: inherit;
	text-decoration: none;
}

.BannerElementosCategorias_wrapper_mobile__ARI3_ {
	.splide {
		&__arrow--next {
			svg {
				fill: black;
			}
		}
		&__arrow--prev {
			svg {
				fill: black;
			}
		}
	}
}
