// ====== NEXT ART ======

@font-face {
	font-family: 'Next Art bold';
	src: url('NEXT_ART/NEXT_ART_Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Next Art light';
	src: url('NEXT_ART/NEXT_ART_Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Next Art';
	src: url('NEXT_ART/NEXT_ART_Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Next Art semibold';
	src: url('NEXT_ART/NEXT_ART_SemiBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NEXT_ART_thin';
	src: url('NEXT_ART/NEXT_ART_Thin.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

// ====== NEXT ART ======
