.wrapper {
	.backgroundImage {
		background-image: url('../../../styles/assets/renderOlivia.png');
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		height: 97vh;
	}

	&__navbar {
		position: absolute;
		top: 80px;
		width: 100%;
		display: flex;
		justify-content: center;
		color: white;

		ul {
			list-style: none;
			display: flex;
			gap: 50px;
		}

		li {
			font-size: 20px;
			cursor: pointer;
			font-family: 'Next Art';
		}

		li:hover {
			color: #d7c5b2;
		}
	}

	&__info {
		position: absolute;
		bottom: 60px;
		z-index: 999;
		width: 100%;
		display: flex;
		justify-content: center;
		gap: 35px;

		span {
			width: 250px;
			display: flex;
			flex-direction: column;
			align-items: center;
			color: white;
			font-family: 'Maven Pro';
			font-size: 15px;
			gap: 20px;

			img {
				height: 80px;
				width: auto;
			}
		}
	}
}

@media (max-width: 505px) {
	.wrapper {
		&__info {
			span {
				font-size: 12px;
				text-align: center;

				img {
					height: 40px;
				}
			}
		}
	}
}
