.chevron-down {
	margin-left: auto;
	transition: transform 0.2s ease-in-out;
}

.szh-accordion {
	border-bottom: 1px solid #ccc;
	width: auto;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	height: auto;
	gap: 40px;

	&__item {
		width: 48%;
		height: auto;

		&-btn {
			cursor: pointer;
			display: flex;
			align-items: center;
			width: 100%;
			margin: 0;
			padding: 1rem;
			padding: 40px;
			font-size: 1.3rem;
			// font-family: 'Maven Pro';
			font-family: var(--font-mavenpro);
			font-weight: 400;
			text-align: left;
			color: black;
			background-color: transparent;
			border: none;
			border-bottom: 2px solid#b1bab9 !important;
		}

		&-content {
			transition: height 0.2s ease-in-out;
			// font-family: 'Maven Pro';
			font-family: var(--font-mavenpro);
		}

		&-panel {
			padding: 20px;
		}

		&--expanded {
			.szh-accordion__item-btn {
				background-color: #e7e7e7;
			}

			.chevron-down {
				transform: rotate(180deg);
			}
		}
	}
}

@media (max-width: 500px) {
	.szh-accordion {
		&__item {
			width: 100%;
			height: auto;
		}
	}
}
